<% layout('./public/layout') %>
<div class="ui stackable grid centered">
  <div class="ten wide column">
    <h1 class="greens h1 textcenter bold">常見問題</h1><br><br>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q1.「醫甸面試」是什麼？</div><br>
      <div class="faqcontent blacks h3">醫甸面試是一個由全台灣各醫學院校醫學系、牙醫系學長姐組成的團隊（約30人），希望能提供一系列網站服務、臉書交流等等，幫助今年（2017）想申請醫學系、牙醫系面試的同學。</div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q2.「醫甸面試」提供什麼服務？</div><br>
      <div class="faqcontent blacks h3">
        目前我們提供幾項服務：<br><br>
        1.	2017多家醫學系牙醫系面試攻略秘笈（免費）<br><br>
        2.	模擬影片問答：我們給您一道道模擬面試題，請您用手機等錄製影片，上傳回本站，系統會自動分配一位學長姐給您回應，作為面試改進建議。<br><br>
        3.	看面試題：無限次「觀看」模擬面試題服務。<br><br>
        4.	其他陸續在粉專釋放的好康活動......等等。<br><br>
        因應面試日期接近，我們會陸續推出相關功能。我們也會在<a href="https://facebook.com/edent.tech" target="_blank">粉絲專頁</a>與您互動，分享許多學長姐的寶貴面試經驗，期盼您持續關注我們！
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q3.「醫甸面試」的團隊組成學長姊是什麼人啊？</div><br>
      <div class="faqcontent blacks h3">
        台灣人。<br>
        好啦！不鬧。醫甸面試團隊的學長姐（目前約30位），均是由2015、2016醫學系或是牙醫系面試正取的學生組成，其中不乏<span class="reds">正取前五名、全部面試皆正取的學生。</span>您可以上交叉查榜觀察往年面試情形，有許多人的成績是一間學校備取、其他學校也都會備取，但是我們團隊的學長姐，每個人的「個人面試成績」幾乎都是正取的。到底他們有什麼撇步？讓他們都這麼厲害？歡迎立刻註冊本站，使用本站服務與學長姊面試交流、一探究竟。
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q4.我們是補習班嗎？</div><br>
      <div class="faqcontent blacks h3">
        非也。<br>
        正如前述所言，我們團隊組成完全是一群醫學系、牙醫系的學長姐，希望能夠幫助繁星推薦、個人申請的同學，在面試上準備更加順利。
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q5.我們跟坊間面試付費服務有什麼差異？</div><br>
      <div class="faqcontent blacks h3">
        坊間面試付費服務通常是由少數老師組成，帶領一群欲面試不同科系的學生進行模擬面試、問問題等等。相對而言，學生組成較為複雜，老師較無法針對單一科系進行訓練、提升學生能力。<br><br>
        「醫甸面試」是唯一針對醫學系、牙醫系面試考生推出的網站服務社群，能特別針對這塊特殊領域加強訓練，提升學生面試能力。
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q6.我們如何收費？</div><br>
      <div class="faqcontent blacks h3">
        針對以下兩項服務，註冊繳費 3600 元後，立即開通：<br><br>
        1.	十二次模擬問答：學生以影片模擬面試問答，學長姐給改進建議<br><br>
        2.	無限次觀看面試題：面試題皆由學長姐針對當年面試情境回顧所設計出來的模擬題。<br><br>
        針對以上服務，我們不限時間使用，直到2017四月初期，最後一家醫學系面試結束。
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q7.註冊繳費後，如果不喜歡本站服務該怎麼辦？</div><br>
      <div class="faqcontent blacks h3">
        您的權利，我們在乎。自帳號開通起算，我們提供七日內全額退費服務，您可以從網站相關位置找到管道，或者依據本說明最末端聯絡管道聯繫我們申請。（然後續處理將由人工接洽，敬請注意您的Email聯絡管道暢通）
        （若退款帳戶非中國信託，將內扣14元手續費，由使用方負擔。此外，若有使用模擬影片服務，退款中將扣除200元*使用次數。
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q8.註冊流程如何？</div><br>
      <div class="faqcontent blacks h3">
        1.	按下網頁右上角註冊<br>
        2.	同意服務條款<br>
        3.	填入資料等<br>
        4.	根據匯款資料進行匯款，您可以使用鄰近ATM，並請保留交易明細表。<br>
        5.	匯款後，登入本站，輸入轉帳末四碼。<br>
        6.	等待後台人工開通（約1~2工作日）。若遲未開通，請速聯繫我們（聯絡資訊請見下方。）
      </div>
    </div>
    <div class="faqlist">
      <div class="faqtitle greens h2">Q9.如何進一步聯絡我們？</div><br>
      <div class="faqcontent blacks h3">
        連絡信箱：<a href="mailto:contact@edentedu.info">contact@edentedu.info</a><br>
        粉絲專頁：<a href="https://facebook.com/edent.tech" target="_blank">facebook.com/edent.tech</a>
      </div>
    </div>
  </div>
</div>

<style>
.faqlist,.faqtitle,.faqcontent{
  display:block;
  width:100%;
}
.faqlist{
  padding:10px 20px;
  margin-bottom:10px;
}
.faqtitle{
  font-weight:bold;
}
.faqcontent{
  line-height:1.8rem;
  font-weight:bold;
  letter-spacing:2px;
}
</style>
