<% layout('../public/layout') %>
<div class="ui stackable grid">
  <div class="row centered" style="padding-top:0px;">
    <div class="two wide column">
      <a href="/user/adminuser?s=1" class="ui button greenbg center">學生</a>
    </div>
    <div class="two wide column">
      <a href="/user/adminuser?s=2" class="ui button greenbg center">老師</a>
    </div>
  </div>
  <% for(var i in data){ %>
    <% if(i%3==0){ %>
      <div class="row">
      <div class="two wide column computer only"></div>
    <% } %>
    <div class="four wide column">
      <div class="ui card" style="margin:0 auto;">
        <div class="content">
          <div class="topic h2">
            <p><%= data[i].name %></p>
          </div><br>
          <div class="meta">
            <p>電子信箱 : <%= data[i].email %></p>
            <% if(data[i].status == 0){ %>
              <% if( data[i].account != "0"){ %>
                <p>身份 : 學生(已通知繳款)</p>
              <% }else{ %>
                <p>身份 : 學生(尚未繳款)</p>
              <% } %>
            <% }else if(data[i].status ==1){ %>
              <p>身份 : 學生(已驗證)</p>
            <% }else{%>
              <p>身份 : 老師</p>
            <% } %>
          </div>
        </div>
        <a href="/user/<%= data[i].id %>?s=<%= data[i].status %>" class="ui bottom attached button">查看</a>
      </div>
    </div>
    <% if(i%3==2){ %>
      </div>
    <% } %>
  <% } %>
</div>
