<% layout('../public/layout') %>
<div class="ui stackable grid" id="part1">
  <div class="six wide column centered">
    <form class="ui form" id="editpw">
      <h1 class="textcenter greens h1 bold">重設密碼</h1><br>
      <div id="error"></div>
      <div class="inline fields">
        <div class="four wide field">
          <label>新密碼</label>
        </div>
        <div class="ten wide field">
          <input type="hidden" name="id" value="<%= id %>">
          <input type="password" name="newpw">
        </div>
      </div>
      <button class="ui button greenbg center" type="submit">送出</button>
    </form>
  </div>
</div>
<div class="ui stackable grid" id="part2" style="display:none;">
  <div class="six wide column centered whitebg">
    <div style="width:80%;display:block;margin:0 auto;">
      <br><br>
      <h1 class="h3 blacks textcenter bold">更新成功</h1>
      <a href="/user/login" class="ui button greenbg center">登入</a>
      <br><br>
    </div>
  </div>
</div>

  <script>
    $("form#editpw").submit(function(event){
      event.preventDefault();
      var formData = $("#editpw").serialize();
      $.ajax({
        url: '/user/editpw',
        type: 'post',
        data: formData,
        success: function(response) {
          if(response=="Success"){
            $("#part1").remove();
            $("#part2").show();
          }
          else{
            $("#error").empty();
            for (var i in response) {
              var dom = "<p style='color:red;'>" + response[i].msg + "</p>";
              $('#error').prepend(dom);
            }
          }
        }
      });
    });
  </script>
