<div class="ui stackable grid centered">
  <div class="seven wide column">
    <form class="ui form" id="updateB">
      <h1 class="textcenter greens h1">報考學校</h1>
      <div id="errorB"></div>
      <br>
      <br>
      <div class="inline fields">
        <div class="four wide field">
          <label>醫學系</label>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="台大醫學" />
            <label>台大</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="北醫醫學" />
            <label>北醫</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="國防醫學" />
            <label>國防</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="four wide field">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="輔仁醫學" />
            <label>輔仁</label>
          </div>
        </div>
        <br>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="馬偕醫學" />
            <label>馬偕</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="陽明醫學" />
            <label>陽明</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="four wide field">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="長庚醫學" />
            <label>長庚</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="中國醫醫學" />
            <label>中國醫</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="中山醫醫學" />
            <label>中山醫</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="four wide field">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="成大醫學" />
            <label>成大</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="高醫醫學" />
            <label>高醫</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="慈濟醫學" />
            <label>慈濟</label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="inline fields">
        <div class="four wide field">
          <label>牙醫系</label>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="台大牙" />
            <label>台大</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="國防牙" />
            <label>國防</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="北醫牙" />
            <label>北醫</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="four wide field">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="陽明牙" />
            <label>陽明</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="中國牙" />
            <label>中國醫</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="中山牙" />
            <label>中山醫</label>
          </div>
        </div>
      </div>
      <br>
      <div class="inline fields">
        <div class="four wide field">
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="school" value="高醫牙" />
            <label>高醫</label>
          </div>
        </div>
      </div>
      <br>
      <% if(status){ %>
        <a class="ui button greenbd left" href="/user/editA">上一步</a>
        <button class="ui button greenbd right" type="submit">下一步</button>
      <% }else{ %>
        <button class="ui button greenbd right" type="submit">更新</button>
      <% } %>
      <br>
      <br>
    </form>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('.ui.checkbox').checkbox();
    <% if(status==0){ %>
      var school = '<%= user.school %>'.split(",");
      for (var i in school) {
        $("input[value=" + school[i] + "]").attr("checked", true);
      }
    <% } %>
  });
  $("form#updateB").submit(function(event) {
    event.preventDefault();
    var formData = $("#updateB").serialize();
    $.ajax({
      url: '/user/updateB',
      type: 'put',
      data: formData,
      success: function(response) {
        if (response == "Success") {
          <% if(status){ %>
            window.location.href = "/user/editC";
          <% }else{ %>
            window.location.href = window.location.href;
          <% } %>
        }
        else {
          $("#errorB").empty();
          for (var i in response) {
            var dom = "<p style='color:red;'>" + response[i].msg + "</p>";
            $('#errorB').prepend(dom);
          }
        }
      }
    });
  });
</script>
