<% layout('../public/layout') %>
<div class="ui stackable grid centered">
  <div class="six wide column">
    <form class="ui form" id="login">
      <div id="error"></div>
      <div class="inline fields">
        <div class="four wide field">
          <label>Email</label>
        </div>
        <div class="twelve wide field">
          <input type="text" name="email">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>密碼</label>
        </div>
        <div class="eight wide field">
          <input type="password" name="pw">
        </div>
        <div class="four wide field">
          <a href="/user/forgetpw" style="color:#b3b6b5;">忘記密碼?</a>
        </div>
      </div>
      <button class="ui button greenbg center" type="submit">登入</button>
    </form>
  </div>
</div>
