<% layout('../public/layout') %>
<div class="ui stackable grid centered" id="part1">
  <div class="ten wide column">
    <div class="ui form">
      <h1 class="greens h1 textcenter">醫甸學生會員服務條款</h1><br><br>
      <textarea readonly style="width:100%;height:300px;">
        醫甸學生會員服務條款

        親愛的同學您好，非常感謝您使用醫甸園科技股份有限公司（以下簡稱本公司）的網路服務（以下簡稱本服務），本服務依據以下之醫甸學生會員服務條款（以下簡稱本條款），架設醫甸面試網站（以下簡稱本站），提供學生會員完整而有效的面試訓練服務。為保障您的權益，請詳閱本條款。注意，加入醫甸面試學生會員代表您已閱讀，並同意遵守《醫甸學生會員服務條款》。如果您不同意本條款之全部或部分內容，請勿註冊。本條款之具體內容如下：

        一、本站學生會員資料

        註冊成為本站學生會員，需填寫正確資料，包括：真實姓名、欲報考學校系、電子信箱Email。個人資料有異動時，請務必即時更新，以保障您的權益。如因會員為正確更新個人資料，致未能接收本服務寄發之訊息 / 優惠 / 變更會員資訊等等通知，會員同意在此情形下，視為已經收到該等資訊通知。
        個人資料之填寫如有重複、錯誤或虛偽不實、故意冒用他人姓名、或有違反公序良俗、政府法令、或破壞本服務宗旨等情形，本站得拒絕提供服務，並有權取消會員資格，會員不得向本服務為任何主張，並應自行承擔全部法律責任。

        二、本站學生會員的義務與責任

        依《兒童及少年福利與權益保障法》規定，父母或監護人對兒童及少年應負保護、教養之責任。若您未滿二十歲，或依《民法》等相關規定，是未具備完全行為能力之人，須由您的家長（父、母或監護人，以下同）陪同閱讀本條款，在您的家長詳讀、瞭解並同意本條款後，才能使用本服務。當您使用本服務時，即視為您的家長已詳讀、瞭解並同意接受本條款之所有內容。
        會員應自行保管帳號密碼之機密與安全，並對使用自己帳號密碼登入本站所做行為，負全部法律責任。
        會員帳號服務僅供本人使用，不得給予第三人、多人使用。若有此情事，本服務可停止該會員資格、並拒絕提供服務。
        會員不得將帳號、密碼及其他相關資料，揭露、洩露或提供給第三人知悉、或使用。除被冒用與盜用外，使用會員帳號密碼登入本站之所有行為，均視為會員本人之行為。
        如有盜用、疑似冒用等情事，請立即寄信通知本站官方信箱（這裡要放信箱）。
        任何人包括會員，不得使用他人之帳號或密碼使用本服務。如有違反，因而涉及犯罪或侵害他人之權利，應自負全部法律責任。
        會員不得基於非法目的，或以任何非法方式使用本服務，並應遵守中華民國相關法令及網際網路之國際規範。若會員於中華民國領域外使用本服務，並應遵守當地國家或地域之法令。會員不得利用本服務從事商業行為、傷害他人權益與違法之行為，包括但不限於：(1)散步誹謗、侮辱、具攻擊性、不雅猥褻、違反公共秩序或善良風俗之文字、圖片、影片檔案。(2)冒用他人名義使用本服務。(3)傳輸散步電腦病毒。(4)刊載、傳輸、發送或儲存任何侵害他人智慧財產權或其他權益的資料。(5)濫發廣告郵件。(6)其他本公司有正當理由認為不適當之行為。
        如會員利用本服務從事侵害他人權利之行為，或犯罪活動，或任何違法行為，會員應自負全部法律責任，本服務將立即撤銷會員資格，永久禁止使用本服務，並請求因此所受之全部損害，包含但不限於商譽損失、裁判費及律師費等。

        三、服務內容的變更

        會員同意本服務得隨時調整、變更、修改或終止本服務及本條款，並得於修改及變更前10日，於本公司網站公告後生效，不再另行個別通知。會員因參與本服務活動及使用本服務，而與本公司所發生之權利義務關係，均以本條款最新修訂之版本為準。如會員不同意修改或變更，應於修改或變更生效日前，以書面通知本公司，由雙方協商相關事宜，如逾期未為通知，應視為同意修改或變更。

        四、會員帳號正式開通

        本服務會員經註冊、填寫正確個人資料後，以轉帳繳交費用。惟轉帳後之開通，須經(1)會員登入本服務網站填寫轉出帳號後5碼、(2)本公司管理員人工核對開通後，方能「正式開通」、使用本服務。

        五、面試問答須知

        當會員登入使用本服務面試題庫時，本服務網站系統將根據會員報考校系、隨機提供相關面試題目，給予練習回答。然此面試問答題目分配具備隨機性，本服務不能保證所有面試題目均符合會員之報考校系。
        本服務之面試題庫均由本服務之老師（由國內各校醫學系、牙醫系學生）討論、發想而出，僅為模擬國內醫學系、牙醫系真實面試情境，與國內各醫學系、牙醫系招生面試單位並無關係。
        會員不得向第三人分享、傳送、刊載本服務之面試題庫。

        五、退回服務

        如不滿意本站服務，會員帳號於正式開通後七天內，享全額退費之權利。
        退回服務之事宜、退還款項之方式時間等，將由本服務管理員與會員聯繫處理。
        退款將以匯款方式匯回，若使用之帳戶非中國信託，須負擔14元之跨行手續費（內扣）。例如：退款金額為3600-手續費14元=3586（您實際收到的費用）
        若有使用模擬影片服務，使用一次（上傳一個影片）將會扣除200元。因此退款金額計算為 3600 - 200*模擬影片服務使用次數。


        六、電子報的寄送

        會員同意本公司得不定期發送電子報至會員所登錄的電子信箱Email。惟當會員收到訊息後表示拒絕接受行銷時，本公司將停止繼續發送行銷訊息。

        七、網路服務的中斷或停止

        如本公司電腦或資訊系統發生異常狀況，本公司有權暫停提供本服務，直至異常狀況排除。

        八、智慧財產權的保護

        本服務所使用軟體或程式、網站上所有內容，包含但不限於著作、圖片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計等智慧財產權，屬於本公司所有，或已取得權利人之同意及授權而使用。任何人包含會員本人，未事前取得本公司或權利人書面同意及授權，均不得以任何方式使用。如違反，立即撤銷會員資格，永久禁止使用本服務，並請求因此所受全部損害，包含但不限於商譽損失、裁判費及律師費等。
        會員或任何人如發現侵害本公司或其他權利人智慧財產權之情形，歡迎檢舉，並立即通知本服務管理員 contact@edentedu.info 處理。

        九、準據法及管轄法院

        本條款之解釋與適用，以及因使用本服務所進行之一切行為及網路交易，均以中華民國法律為準據法。如因本服務發生爭議涉訟，應以臺灣臺南地方法院為第一審管轄法院。
      </textarea>
      <div class="ui checkbox" style="margin-top:20px;">
        <input type="checkbox" name="example">
        <label>我同意遵守會員規範與隱私權政策</label>
      </div>
      <div class="ui button greenbg center" style="display:none;margin-top:50px;" id="next">下一步</div>
    </div>
  </div>
</div>

<div class="ui stackable grid centered" id="part2" style="display:none;">
  <div class="six wide column">
    <form class="ui form" id="signup">
      <div id="error"></div>
      <div class="inline fields">
        <div class="four wide field">
          <label>電子信箱</label>
        </div>
        <div class="twelve wide field">
          <input type="text" name="email">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>密碼</label>
        </div>
        <div class="twelve wide field">
          <input type="password" name="pw">
        </div>
      </div>
      <div class="inline fields">
        <div class="four wide field">
          <label>密碼確認</label>
        </div>
        <div class="twelve wide field">
          <input type="password" name="pw2">
        </div>
      </div>
      <button class="ui button greenbg center" type="submit">送出</button>
    </form>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".checkbox").checkbox();
    $(".checkbox").checkbox({
      onChecked: function(){
        $("#next").show();
      },
      onUnchecked: function(){
        $("#next").hide();
      }
    });
    $("#next").on("click",function(){
      $("#part1").remove();
      $("#part2").show();
    });
  });

  $("form#signup").submit(function(event) {
    event.preventDefault();
    var formData = $("#signup").serialize();
    $.ajax({
      url: '/user/create',
      type: 'post',
      data: formData,
      success: function(response) {
        if (response == "Success") {
          var email = $("input[name=email]").val();
          window.location.href = "/user/notice?e="+email;
        } else if (response == "Dup") {
          $("#error").empty();
          $("#error").prepend("<p style='color:red;'>電子信箱已使用</p>");
        } else {
          $("#error").empty();
          for (var i in response) {
            var dom = "<p style='color:red;'>" + response[i].msg + "</p>";
            $('#error').prepend(dom);
          }
        }
      }
    });
  });
</script>
